/*
* 公共
*/
.heartbox {
  max-width: 1590px !important;
  margin: 0 auto;
}
.mainbox {
  max-width: 1200px !important;
  margin: 0 auto;
}
.top-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 60px;
  background: rgba(52, 52, 52, 0.5);
  z-index: 99;
}
.top-head .img-box {
  width: 210px;
  height: 54px;
  float: left;
  margin: 3px 0;
}
.top-head .img-box img {
  width: 100%;
  height: 100%;
}
.top-head .tell {
  float: right;
  padding-top: 20px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 22px;
  margin-left: 60px;
}
.nav-list {
  float: right;
  display: flex;
  flex-flow: wrap;
  justify-content: right;
}
.nav-list a {
  font-size: 22px;
  color: #FFFFFF;
  padding: 20px 0px 16px;
  line-height: 1;
}
.nav-list a + a {
  margin-left: 50px;
}
.nav-list .on {
  font-weight: bold;
  border-bottom: 4px solid #FFFFFF;
}
.nav-list a:hover {
  font-weight: bold;
  border-bottom: 4px solid #FFFFFF;
}
.footer-box {
  width: 100vw;
  background: #454545;
  padding: 60px 165px 130px;
  position: relative;
  margin-top: 60px;
}
.footer-box ul {
  float: left;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: calc(100% - 420px);
}
.footer-box li h4 {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
}
.footer-box li a {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1;
  margin-top: 30px;
}
.footer-box .ewm-box {
  float: right;
  padding: 20px 0 20px 120px;
  border-left: 2px solid #999999;
}
.footer-box .ewm-box p {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
  text-align: right;
  margin-bottom: 14px;
}
.footer-box .img-box {
  background: #FFFFFF;
  padding: 24px;
  margin-bottom: 30px;
}
.footer-box .img-box .img {
  width: 152px;
  height: 152px;
}
.footer-box .bottom {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #333333;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  color: #FFFFFF;
}
.banner-box {
  width: 100vw;
  height: 800px;
  position: relative;
}
.banner-box .img-box {
  width: 100%;
  height: 100%;
}
.banner-box .img-box img {
  width: 100%;
  height: 100%;
}
.banner-nav {
  padding: 138px 0 38px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 330px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.banner-nav h4 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
}
.banner-nav .link-a {
  float: right;
}
.banner-nav a {
  display: inline-block;
  font-size: 18px;
  color: #EAEAEA;
  line-height: 22px;
  margin-right: 98px;
}
.banner-nav .on {
  color: #FFFFFF;
  font-weight: bold;
}
.banner-nav a:hover {
  color: #FFFFFF;
  font-weight: bold;
}
.pagination {
  margin: 20px auto 100px;
  text-align: center;
  font-size: 0;
}
.pagination span {
  display: inline-block;
  width: 34px;
  line-height: 34px;
  padding: 0 10px;
  font-size: 12px;
  color: #333333;
  cursor: pointer;
  border-radius: 2px;
  background-color: #ffffff;
}
.pagination img {
  width: 10px;
  height: 18px;
  display: inline-block;
}
.pagination span + span {
  margin-left: 10px;
}
.pagination span:hover {
  color: #E83428;
}
.pagination .on {
  background-color: #E83428;
  color: #ffffff;
}
.pagination .on:hover {
  background-color: #E83428;
  color: #ffffff;
  cursor: default;
}
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
.search-box h4 {
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  margin-bottom: 59px;
}
.search-box .input-box {
  width: 100%;
  max-width: 520px;
  background: #FFFFFF;
  padding: 23px 30px;
  border-radius: 8px;
  margin: 0 auto;
}
.search-box input {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #333333;
  width: calc(100% - 30px);
}
.search-box a {
  float: right;
  width: 25px;
  height: 25px;
}
.search-box a img {
  width: 100%;
  height: 100%;
}
/*
* 首页
*/
.swiper-container {
  width: 100%;
  height: 1080px;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide a {
  position: relative;
  display: block;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-slide .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  max-height: 240px;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  border-color: #E83428;
  background: #E83428;
}
.home-cate {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 60px 60px 20px 60px;
}
.home-cate a {
  max-width: 45%;
  min-width: 45%;
  text-align: right;
  padding: 50px 60px 20px;
  background: #F5F4F4;
  margin-bottom: 40px;
}
.home-cate a:first-child {
  background: #C3B6A5;
}
.home-cate a:first-child h4,
.home-cate a:first-child p {
  color: #FFFFFF;
}
.home-cate a:nth-child(3),
.home-cate a:nth-child(4) {
  text-align: left;
}
.home-cate a:nth-child(3) .img-box,
.home-cate a:nth-child(4) .img-box {
  float: right;
}
.home-cate a:first-child,
.home-cate a:last-child {
  max-width: 52%;
  min-width: 52%;
}
.home-cate h4 {
  margin-bottom: 28px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  color: #444444;
}
.home-cate p {
  font-size: 36px;
  color: #444444;
  line-height: 1;
  margin-bottom: 15px;
  font-family: MicrosoftYaHeiLight;
}
.home-cate .img-box {
  height: 268px;
  float: left;
}
.home-cate .img-box img {
  height: 100%;
}
.home-cate a:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.title-box {
  margin: 60px auto 0;
  text-align: center;
}
.title-box img {
  width: 36px;
  height: 30px;
}
.title-box h2 {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  line-height: 1;
  margin: 28px 0;
}
.title-box p {
  font-size: 36px;
  font-family: Arial;
  font-weight: bold;
  color: #F1F0F0;
}
.home-brand {
  margin-top: 100px;
  padding: 0 60px;
}
.home-brand .top,
.home-brand .bottom {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.home-brand .top a {
  max-width: 41%;
  min-width: 41%;
}
.home-brand .top a:first-child {
  max-width: 56%;
  min-width: 56%;
}
.home-brand .bottom a {
  max-width: 32%;
  min-width: 32%;
}
.home-brand a {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}
.home-brand img {
  width: 100%;
  height: 500px;
}
.home-brand .hover-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(195, 182, 165, 0.76);
  text-align: center;
}
.home-brand .hover-mask img {
  margin: 162px auto 30px;
  width: 116px;
  height: 116px;
}
.home-brand .hover-mask p {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
}
.home-brand a:hover .hover-mask {
  display: block;
}
.home-prolist {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 80px;
  padding: 0 30px 0 60px;
}
.home-prolist li {
  max-width: 375px;
  min-width: 375px;
  margin-right: 30px;
  margin-bottom: 40px;
}
.home-prolist .img-box {
  width: 100%;
  height: 440px;
}
.home-prolist .img-box img {
  width: 100%;
  height: 100%;
}
.home-prolist a {
  display: block;
  position: relative;
  height: 520px;
}
.home-prolist h4 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  font-size: 26px;
  color: #333333;
  background: url("../img/home/titlebg.png") no-repeat;
  background-size: 100% 100%;
}
.home-prolist li:hover h4 {
  font-weight: bold;
  color: #E83428;
}
.home-news {
  padding: 0 60px;
}
.home-news .item {
  margin-top: 80px;
  width: 100%;
  background: #F5F4F4;
  position: relative;
}
.home-news .item a {
  display: block;
  width: 110px;
  height: 36px;
  background: #E83428;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  left: 60px;
  bottom: 60px;
}
.home-news .img-box {
  max-width: 640px;
  height: 460px;
}
.home-news .img-box img {
  width: 100%;
  height: 100%;
}
.home-news .text {
  position: absolute;
  top: 35px;
  right: 60px;
  background-color: #FFFFFF;
  padding: 60px;
  max-width: 970px;
  height: 390px;
}
.home-news h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  line-height: 1;
  margin-bottom: 20px;
}
.home-news p {
  font-size: 14px;
  color: #333333;
  line-height: 28px;
}
.home-news .p-box {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.home-news .date {
  position: absolute;
  top: -10px;
  right: 40px;
  width: 108px;
  height: 88px;
  background: #E83428;
  text-align: center;
  padding-top: 22px;
}
.home-news .date h6 {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
  margin-bottom: 10px;
}
.home-news .date p {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1;
}
.home-news .item:first-child .text {
  background-color: #C3B6A5;
}
.home-news .item:first-child h4,
.home-news .item:first-child p {
  color: #FFFFFF;
}
.more {
  display: block;
  max-width: 410px;
  height: 56px;
  background: #FFFFFF;
  border: 2px solid #EDEDED;
  margin: 60px auto 100px;
  line-height: 56px;
  font-size: 16px;
  color: #333333;
  text-align: center;
}
.more:hover {
  border-color: #E83428;
  color: #E83428;
}
.home-join {
  width: 100vw;
  height: 880px;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}
.home-join .bg {
  width: 100%;
  min-width: 1920px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-join .bg img {
  width: 100%;
}
.home-join .hoobox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 119px;
  text-align: center;
}
.home-join .img-box {
  width: 606px;
  margin: 0 auto 68px;
}
.home-join .img-box img {
  width: 100%;
}
.home-join p {
  font-size: 34px;
  color: #F5F5F5;
  margin-bottom: 24px;
}
.home-join h4 {
  display: inline-block;
  padding: 0 70px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  border: 2px solid #FE4034;
  font-size: 34px;
  font-weight: bold;
  color: #FE4034;
  letter-spacing: 10px;
  margin: 79px auto 120px;
}
.home-join .a-box {
  font-size: 0;
  width: 100%;
}
.home-join a {
  display: inline-block;
  width: 360px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  line-height: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
.home-join a + a {
  margin-left: 140px;
}
.home-case {
  margin-top: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0 30px 0 60px;
}
.home-case li {
  max-width: 375px;
  min-width: 375px;
  height: 320px;
  margin-bottom: 40px;
  margin-right: 30px;
}
.home-case li img {
  width: 100%;
  height: 100%;
}
.home-case a {
  display: block;
  width: 100%;
  height: 100%;
}
.home-case li:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
/*
* 关于我们
*/
.about-main {
  padding-top: 40px;
}
.about-main .title-box {
  margin-bottom: 100px;
}
.about-title {
  margin-bottom: 45px;
}
.about-title h4 {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 18px;
  line-height: 1;
}
.about-title p {
  font-size: 24px;
  color: #999999;
  line-height: 1;
}
.about-txt p {
  font-size: 20px;
  color: #333333;
  line-height: 80px;
}
.about-img {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 50px auto 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #E6E6E6;
}
.about-img .img-box {
  max-width: 32%;
  min-width: 32%;
  max-height: 260px;
}
.about-img .img-box img {
  width: 100%;
  height: 100%;
}
.about-b-txt {
  margin-bottom: 50px;
}
.about-b-txt h5 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  line-height: 1;
  margin-bottom: 10px;
}
.about-b-txt p {
  font-size: 20px;
  color: #333333;
  line-height: 40px;
}
.bordernone {
  border: none !important;
}
.about-b-img {
  max-width: 1590px;
  margin: 0 auto 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.about-b-img .img-box {
  max-width: 48%;
  min-width: 48%;
  position: relative;
  cursor: pointer;
}
.about-b-img .img-box img {
  width: 100%;
  height: 100%;
}
.about-b-img .bg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(195, 182, 165, 0.9);
}
.about-b-img .txt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.about-b-img span {
  display: block;
  font-size: 72px;
  font-family: HuXiaoBo;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
  margin-bottom: 40px;
}
.about-b-img p {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 1;
}
.about-b-img .img-box:hover .bg {
  display: block;
}
.company-b {
  position: relative;
  width: 100vw;
  padding: 80px 20px 40px;
  margin-bottom: -60px;
  background: url("../img/about/banner.png") center center no-repeat;
  background-size: 100% 100%;
}
.company-b .maskbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.company-b .about-b-img {
  margin-bottom: 0;
}
.company-b .about-b-img .img-box {
  margin-bottom: 40px;
  max-height: 320px;
}
.company-b .about-b-img .txt {
  padding: 0 56px;
}
.company-b .about-b-img p {
  line-height: 46px;
}
.company-b .img-box:hover p {
  display: block;
}
.about-inrto {
  position: relative;
  margin-bottom: 100px;
}
.about-inrto .txt-box {
  width: 100%;
  padding: 59px 48px;
  background: #F4F4F4;
  min-height: 340px;
}
.about-inrto .txt-box p {
  display: block;
  margin-top: 20px;
  max-width: 504px;
  width: 46%;
  font-size: 14px;
  color: #333333;
  line-height: 36px;
}
.about-inrto h5 {
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
}
.about-inrto .img-box {
  position: absolute;
  right: 0;
  top: -27px;
  width: 50%;
  max-width: 590px;
  height: 390px;
}
.about-inrto .img-box img {
  width: 100%;
  height: 100%;
}
.deve-box .more {
  max-width: 560px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
.deve-box .more:hover {
  border-color: #E83428;
}
.develop-list {
  margin-left: 10px;
  width: calc(100% - 10px);
  margin-top: 100px;
}
.develop-list li {
  padding: 0 0 77px 90px;
  position: relative;
  border-left: 4px solid #E2E5EA;
}
.develop-list i {
  position: absolute;
  left: -14px;
  top: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 5px solid #E83428;
  border-radius: 50%;
}
.develop-list h3 {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #666666;
  line-height: 1;
  margin-bottom: 25px;
  margin-top: -8px;
}
.develop-list h3 span {
  display: inline-block;
  margin-left: 28px;
  color: #F3493E;
}
.develop-list p {
  font-size: 16px;
  color: #333333;
  line-height: 40px;
}
.develop-list li:first-child h3 {
  color: #333333;
}
.develop-list li:first-child h3 span {
  color: #E83428;
}
.develop-list li:last-child {
  border-color: #FFFFFF;
}
/*
* 产品页
*/
.prohome-list {
  margin-top: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: -60px;
}
.prohome-list li {
  max-width: 25%;
  min-width: 25%;
  height: 780px;
  position: relative;
}
.prohome-list .img-box {
  width: 100%;
  height: 100%;
}
.prohome-list .img-box img {
  width: 100%;
  height: 100%;
}
.prohome-list .bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(195, 182, 165, 0.9);
}
.prohome-list .txt {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}
.prohome-list h4 {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1;
  margin-bottom: 36px;
}
.prohome-list p {
  font-size: 36px;
  color: #FFFFFF;
  line-height: 1;
}
.prohome-list a {
  display: none;
  margin: 58px auto 0;
  max-width: 260px;
  width: 100%;
  padding: 14px 20px;
  height: 48px;
  border: 1px solid #FFFFFF;
  line-height: 1;
  font-size: 18px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
}
.prohome-list li:hover a,
.prohome-list li:hover .bg {
  display: block;
}
.head-bread {
  margin-top: 100px;
  padding-bottom: 28px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.pro-nav {
  width: 100%;
  padding: 30px 60px;
  background: #FAF9F7;
  font-size: 0;
  margin: 60px 0 100px;
}
.pro-nav a {
  display: inline-block;
  padding: 18px;
  line-height: 1;
  font-size: 20px;
  color: #333333;
  border-radius: 4px;
}
.pro-nav .on {
  font-weight: bold;
  color: #FFFFFF;
  background: #E83428;
}
.pro-nav a + a {
  margin-left: 80px;
}
.pro-nav a:hover {
  font-weight: bold;
  color: #FFFFFF;
  background: #E83428;
}
.pro-title {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  line-height: 1;
  margin-bottom: 100px;
}
.product-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.product-list li {
  margin-bottom: 20px;
  max-width: 380px;
  min-width: 380px;
}
.product-list .img-box {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}
.product-list .img-box img {
  width: 100%;
  height: 100%;
  transition: 500ms;
  transform: scale(1);
}
.product-list a {
  display: block;
  padding: 40px 10px;
  line-height: 1;
  text-align: center;
  font-size: 18px;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.product-list li:hover a {
  font-weight: bold;
  color: #C3B6A5;
}
.product-list li:hover .img-box img {
  transition: 500ms;
  transform: scale(1.05);
}
/*
* 新闻页
*/
.news-home {
  background-color: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-bottom: -60px;
}
.news-home .swiper-container {
  margin-top: 100px;
  height: 550px;
  border-radius: 8px;
}
.news-home .swiper-container .img-box {
  float: left;
  width: 800px;
  height: 100%;
}
.news-home .swiper-container .img-box img {
  width: 100%;
  height: 100%;
}
.news-home .swiper-container h3 {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  line-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
.news-home .swiper-container p {
  font-size: 14px;
  color: #333333;
  line-height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.news-home .txt-box {
  float: right;
  width: calc(100% - 800px);
  height: 550px;
  padding: 60px 50px 50px;
  background-color: #ffffff;
}
.news-home .swiper-container-horizontal > .swiper-pagination-bullets,
.news-home .swiper-pagination-custom,
.news-home .swiper-pagination-fraction {
  width: 800px;
}
.news-home .footer-box {
  margin-top: 0;
}
.news-home .date {
  display: block;
  font-size: 14px;
  color: #999999;
  line-height: 1;
  margin-top: 30px;
}
.news-home .hot {
  width: 56px;
  height: 26px;
  background: #E83428;
  border-radius: 4px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.news-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 80px;
}
.news-list li {
  max-width: 380px;
  min-width: 380px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
}
.news-list a {
  display: block;
  position: relative;
  padding-bottom: 48px;
}
.news-list .img-box {
  width: 100%;
  height: 250px;
}
.news-list .img-box img {
  width: 100%;
  height: 100%;
}
.news-list h4 {
  padding: 32px 32px 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  line-height: 36px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.news-list .time {
  font-size: 14px;
  color: #333333;
  line-height: 1;
  padding: 0 32px;
}
.news-list .mask-p {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 264px;
  background: #C3B6A5;
  border-radius: 0px 0px 8px 8px;
}
.news-list .mask-p h4,
.news-list .mask-p .time {
  color: #ffffff;
}
.news-list p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 28px;
  padding: 0 32px;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.news-list li:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.news-list li:hover .mask-p {
  display: block;
}
.rich-box {
  padding: 100px 0px;
}
.rich-box h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  line-height: 42px;
}
.rich-box p {
  margin-top: 66px;
  font-size: 18px;
  color: #333333;
  line-height: 48px;
}
.rich-box h4 {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-top: 66px;
}
.rich-box img {
  display: block;
  width: 90%;
  margin: 66px auto 0;
  max-width: 980px;
}
/*
* 案例
*/
.case-home .time {
  font-size: 26px;
}
.case-home .news-list .bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  top: 0;
  background: rgba(195, 182, 165, 0.6);
}
.case-home .news-list li:hover {
  box-shadow: none;
}
.case-home .news-list li:hover .bg {
  display: block;
}
.case-home .news-list li:hover h4,
.case-home .news-list li:hover .time {
  color: #C3B6A5;
}
/*
* 门店
*/
.store-home .news-list h4 {
  -webkit-line-clamp: 1;
}
.store-home .news-list a {
  padding-bottom: 0;
}
.store-home .news-list .txt {
  padding-bottom: 49px;
}
.store-home .news-list .txt p {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}
.store-home .news-list .txt span + span {
  margin-left: 38px;
}
.store-home .news-list .address {
  margin-bottom: 30px;
  height: 40px;
}
.store-home .news-list li:hover .txt {
  background-color: #C3B6A5;
}
.store-home .news-list li:hover .txt p,
.store-home .news-list li:hover .txt h4 {
  color: #fff;
}
/*
* 加盟
*/
.join-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
.join-title h4 {
  text-align: center;
  font-size: 60px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 210px;
}
.join-title p {
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}
.advan-list {
  display: flex;
  flex-flow: wrap;
  margin: 158px auto 140px;
}
.advan-list .img-box {
  width: 72px;
  height: 72px;
  margin: 24px auto 50px;
}
.advan-list .img-box img {
  width: 100%;
  height: 100%;
}
.advan-list h4 {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}
.advan-list li {
  position: relative;
  max-width: 25%;
  min-width: 25%;
}
.advan-list li + li {
  border-left: 1px solid #E6E6E6;
}
.advan-list .limask {
  display: none;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 314px;
  background: #C3B6A5;
  box-shadow: 0px 0px 10px 0px rgba(59, 59, 59, 0.14);
  border-radius: 8px;
  padding: 40px 30px;
}
.advan-list h5 {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 36px;
  line-height: 32px;
  letter-spacing: 1px;
}
.advan-list p {
  padding: 0 4px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 38px;
  letter-spacing: 1px;
}
.advan-list li:last-child h4 {
  max-width: 220px;
}
.advan-list li:hover .limask {
  display: block;
}
.join-policy {
  width: 100%;
  height: 770px;
}
.join-policy ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 80px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.join-policy li {
  max-width: 32%;
  min-width: 32%;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 30px;
}
.join-policy p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 240px;
  font-size: 22px;
  font-weight: bold;
  color: #F5F5F5;
}
.join-policy img {
  width: 100%;
  height: 100%;
}
.join-policy li:hover p {
  background-color: rgba(195, 182, 165, 0.9);
}
.join-policy .bg {
  z-index: -1;
}
.join-form {
  padding: 40px 20px 140px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgba(59, 59, 59, 0.14);
  border-radius: 16px;
  margin-top: -100px;
}
.join-form .title-box {
  margin-bottom: 100px;
}
.join-form .input-box {
  font-size: 0;
  margin: 0 auto 60px;
  text-align: center;
}
.join-form .input-box span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 29px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-align: right;
  width: 70px;
}
.join-form .input-box input {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 100px);
  max-width: 640px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  text-align: left;
  font-size: 16px;
  padding: 0 20px;
  color: #333333;
}
.join-form a {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 420px;
  height: 60px;
  background: #E83428;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  letter-spacing: 10px;
  padding-left: 10px;
}
/*
* 响应式适配
*/
@media only screen and (max-width: 1490px) {
  .top-head .tell {
    margin-left: 25px;
  }
  .nav-list a + a {
    margin-left: 20px;
  }
  .prohome-list li {
    height: 680px;
  }
}
@media only screen and (max-width: 1200px) {
  .nav-list {
    float: left;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
  }
  .nav-list a + a {
    margin-left: 0;
  }
  .banner-box {
    height: 600px;
  }
  .banner-nav {
    padding-top: 196px;
  }
  .banner-nav a {
    margin-right: 40px;
  }
  .swiper-container {
    height: 880px;
  }
  .home-cate a {
    padding: 20px;
  }
  .home-cate .img-box {
    height: 168px;
  }
  .home-cate h4 {
    font-size: 34px;
    margin-bottom: 16px;
  }
  .home-cate p {
    font-size: 20px;
  }
  .home-brand img {
    height: 300px;
  }
  .home-brand .hover-mask img {
    margin-top: 66px;
  }
  .footer-box {
    padding: 60px 65px 130px;
  }
  .about-main {
    padding: 0 20px;
  }
  .prohome-list li {
    height: 540px;
  }
  .prohome-list .txt {
    padding: 0 10px;
  }
  .prohome-list p {
    font-size: 24px;
  }
  .news-home .swiper-container .img-box {
    width: 700px;
  }
  .news-home .txt-box {
    width: calc(100% - 700px);
  }
  .news-home .swiper-container-horizontal > .swiper-pagination-bullets,
  .news-home .swiper-pagination-custom,
  .news-home .swiper-pagination-fraction {
    width: 700px;
  }
}
@media only screen and (max-width: 1000px) {
  .top-head {
    padding: 10px 20px;
  }
  .top-head .img-box {
    width: 140px;
    height: 36px;
  }
  .top-head .tell {
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
  }
  .nav-list a {
    padding: 10px 0px;
  }
  .swiper-container {
    height: 680px;
  }
  .banner-box {
    height: 500px;
  }
  .banner-nav {
    padding-top: 142px;
    width: calc(100% - 200px);
  }
  .home-news .text {
    right: 0;
  }
  .home-join {
    height: 700px;
    margin-top: 40px;
    padding: 0 20px;
  }
  .home-join .img-box {
    width: 406px;
  }
  .home-join p {
    font-size: 26px;
  }
  .home-join h4 {
    font-size: 26px;
    margin: 40px auto 80px;
  }
  .home-join a {
    width: 280px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
  }
  .home-join a + a {
    margin-left: 80px;
  }
  .home-join .hoobox {
    padding-top: 80px;
  }
  .footer-box {
    padding: 60px 40px 130px;
  }
  .footer-box .ewm-box {
    padding-left: 40px;
  }
  .footer-box .img-box {
    padding: 10px;
  }
  .footer-box .img-box img {
    width: 120px;
    height: 120px;
  }
  .footer-box ul {
    width: calc(100% - 225px);
  }
  .about-inrto .txt-box p {
    max-width: 100%;
    width: 100%;
  }
  .about-inrto .img-box {
    width: 100%;
    position: static;
    height: auto;
    margin-top: 20px;
  }
  .prohome-list li {
    height: 400px;
  }
  .prohome-list h4 {
    font-size: 36px;
  }
  .prohome-list p {
    font-size: 20px;
  }
  .prohome-list a {
    margin-top: 30px;
    font-size: 16px;
  }
  .pro-nav a {
    font-size: 16px;
  }
  .news-home .swiper-container {
    height: 450px;
  }
  .news-home .swiper-container .img-box {
    width: 600px;
  }
  .news-home .swiper-container h3 {
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .news-home .swiper-container p {
    -webkit-line-clamp: 6;
  }
  .news-home .txt-box {
    width: calc(100% - 600px);
    height: 450px;
    padding: 30px;
  }
  .news-home .swiper-container-horizontal > .swiper-pagination-bullets,
  .news-home .swiper-pagination-custom,
  .news-home .swiper-pagination-fraction {
    width: 600px;
  }
  .rich-box {
    padding: 100px 20px;
  }
  .advan-list li {
    max-width: 50%;
    min-width: 50%;
    margin-bottom: 80px;
  }
  .advan-list .limask {
    height: 260px;
    top: -40px;
  }
  .join-policy li {
    height: 200px;
  }
  .join-policy p {
    line-height: 200px;
  }
  .join-form {
    width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 800px) {
  .prohome-list li {
    max-width: 50%;
    min-width: 50%;
    height: 500px;
  }
  .news-home .swiper-container {
    height: 400px;
  }
  .news-home .swiper-container .img-box {
    width: 400px;
  }
  .news-home .swiper-container h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .news-home .hot {
    margin-bottom: 10px;
  }
  .news-home .date {
    margin-top: 20px;
  }
  .news-home .txt-box {
    width: calc(100% - 400px);
    height: 400px;
    padding: 20px;
  }
  .news-home .swiper-container-horizontal > .swiper-pagination-bullets,
  .news-home .swiper-pagination-custom,
  .news-home .swiper-pagination-fraction {
    width: 400px;
  }
  .join-title h4 {
    font-size: 40px;
    line-height: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .top-head {
    padding: 10px 20px;
  }
  .top-head .tell {
    font-size: 12px;
    line-height: 14px;
  }
  .search-box h4 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .nav-list a {
    font-size: 14px;
  }
  .banner-box {
    height: 400px;
  }
  .banner-nav {
    width: calc(100% - 100px);
  }
  .banner-nav h4 {
    font-size: 18px;
  }
  .banner-nav a {
    font-size: 16px;
    line-height: 18px;
    margin-right: 15px;
  }
  .swiper-container {
    height: 480px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #FFFFFF;
  }
  .home-cate a {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }
  .home-cate a:first-child,
  .home-cate a:last-child {
    max-width: 100%;
    min-width: 100%;
  }
  .home-cate .img-box {
    float: left;
  }
  .home-cate p {
    display: inline-block;
  }
  .home-brand {
    margin-bottom: 40px;
  }
  .home-brand img {
    height: 200px;
  }
  .home-brand .hover-mask img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .home-news {
    padding: 0 20px;
  }
  .home-news .text {
    padding: 60px 40px;
  }
  .home-news .item a {
    left: 40px;
  }
  .home-join a {
    width: 200px;
  }
  .footer-box {
    padding: 60px 20px 130px;
  }
  .footer-box li h4 {
    font-size: 12px;
  }
  .footer-box li a {
    font-size: 11px;
  }
  .footer-box .bottom {
    font-size: 12px;
  }
  .footer-box ul {
    width: calc(100% - 185px);
  }
  .footer-box .ewm-box .img-box img {
    width: 80px;
    height: 80px;
  }
  .footer-box .ewm-box p {
    font-size: 12px;
  }
  .about-title h4 {
    font-size: 26px;
  }
  .about-title p {
    font-size: 16px;
  }
  .about-txt p {
    font-size: 16px;
    line-height: 40px;
  }
  .about-b-txt {
    margin-bottom: 40px;
  }
  .about-b-txt h5,
  .about-b-txt p {
    font-size: 16px;
  }
  .about-b-img {
    margin-top: -20px;
  }
  .about-b-img span {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-b-img p {
    font-size: 18px;
  }
  .pro-nav {
    padding: 30px;
  }
  .pro-nav a {
    font-size: 16px;
  }
  .pro-nav a + a {
    margin-left: 20px;
  }
  .news-home .swiper-container {
    height: 100%;
  }
  .news-home .swiper-container .img-box {
    width: 100%;
    height: 400px;
  }
  .news-home .swiper-container h3 {
    font-size: 22px;
    line-height: 36px;
    -webkit-line-clamp: 1;
  }
  .news-home .swiper-container p {
    -webkit-line-clamp: 4;
  }
  .news-home .hot {
    margin-bottom: 10px;
  }
  .news-home .date {
    margin-top: 20px;
  }
  .news-home .txt-box {
    width: 100%;
    height: 300px;
    padding: 20px;
  }
  .news-home .swiper-container-horizontal > .swiper-pagination-bullets,
  .news-home .swiper-pagination-custom,
  .news-home .swiper-pagination-fraction {
    width: 100%;
    top: 350px;
  }
  .advan-list {
    margin-top: 80px;
  }
  .advan-list h4 {
    font-size: 16px;
    letter-spacing: 0px;
  }
  .advan-list .limask {
    padding: 30px 20px;
  }
  .advan-list h5 {
    letter-spacing: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .advan-list p {
    font-size: 14px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .top-head {
    padding: 10px;
  }
  .top-head .img-box {
    width: 120px;
    height: auto;
  }
  .search-box h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .search-box .input-box {
    padding: 10px 30px;
  }
  .search-box input {
    font-size: 14px;
  }
  .search-box a {
    width: 20px;
    height: 20px;
  }
  .banner-box {
    height: 320px;
  }
  .banner-nav {
    width: calc(100% - 80px);
  }
  .banner-nav h4 {
    font-size: 14px;
  }
  .banner-nav a {
    font-size: 12px;
    line-height: 14px;
  }
  .swiper-container {
    height: 380px;
  }
  .swiper-slide .title {
    width: 60%;
  }
  .home-cate {
    padding: 20px;
  }
  .home-cate h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .home-cate p {
    font-size: 10px;
  }
  .home-cate .img-box {
    height: 100px;
  }
  .title-box {
    margin: 20px auto;
  }
  .title-box h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .title-box p {
    font-size: 14px;
  }
  .home-brand {
    margin-top: 40px;
    padding: 0px 20px;
  }
  .home-brand img {
    height: 100px;
  }
  .home-brand a {
    margin-bottom: 10px;
  }
  .home-brand .hover-mask {
    display: block;
    background: rgba(195, 182, 165, 0.5);
  }
  .home-brand .hover-mask img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .home-brand .hover-mask p {
    font-size: 14px;
  }
  .home-prolist {
    margin-top: 40px;
    padding: 0 20px;
  }
  .home-prolist h4 {
    font-size: 16px;
  }
  .home-prolist li {
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .home-prolist .img-box {
    height: 352px;
  }
  .home-prolist a {
    height: 432px;
  }
  .home-news .item {
    margin-top: 40px;
  }
  .home-news h4 {
    font-size: 14px;
  }
  .home-news p {
    font-size: 12px;
  }
  .home-news .date {
    width: 78px;
    height: 58px;
    padding-top: 15px;
    right: 20px;
  }
  .home-news .date h6 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .home-news .date p {
    font-size: 12px;
  }
  .more {
    margin: 40px auto 60px;
  }
  .home-join {
    height: 400px;
  }
  .home-join .hoobox {
    padding: 40px 20px 0;
  }
  .home-join .img-box {
    width: 260px;
    margin-bottom: 40px;
  }
  .home-join p {
    font-size: 14px;
  }
  .home-join h4 {
    font-size: 14px;
    line-height: 60px;
    height: 60px;
    padding: 0 40px;
    margin: 10px auto 30px;
  }
  .home-join a {
    width: auto;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 12px;
  }
  .home-join a + a {
    margin-left: 20px;
  }
  .home-join .bg img {
    width: 78%;
  }
  .home-case {
    margin-top: 40px;
    padding: 0 60px;
  }
  .home-case li {
    max-width: 300px;
    min-width: 300px;
    height: 256px;
    margin-right: 0;
  }
  .footer-box {
    padding: 30px 20px 40px;
  }
  .footer-box ul {
    float: inherit;
    width: 100%;
  }
  .footer-box .ewm-box {
    border-left: none;
    padding-left: 0;
    padding-top: 10px;
  }
  .footer-box .ewm-box p {
    float: left;
    line-height: 100px;
    margin-right: 10px;
  }
  .footer-box .img-box {
    display: inline-block;
  }
  .about-main .title-box {
    margin-bottom: 40px;
  }
  .about-main .bordernone {
    padding-top: 20px;
  }
  .about-title {
    margin-bottom: 40px;
  }
  .about-title h4 {
    font-size: 16px;
  }
  .about-title p {
    font-size: 12px;
  }
  .about-txt p {
    font-size: 14px;
  }
  .about-img {
    padding: 40px 20px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .about-img .img-box {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }
  .about-b-txt {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .about-b-txt h5,
  .about-b-txt p {
    font-size: 14px;
  }
  .about-b-img .img-box {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }
  .about-b-img .bg {
    background: rgba(195, 182, 165, 0.5);
  }
  .about-b-img .bg {
    display: block;
  }
  .about-inrto .txt-box {
    padding: 30px;
  }
  .about-inrto .txt-box p {
    font-size: 12px;
    line-height: 28px;
  }
  .about-inrto h5 {
    font-size: 14px;
  }
  .deve-box {
    padding: 0 20px;
  }
  .deve-box li {
    padding-left: 40px;
  }
  .deve-box h3 {
    font-size: 24px;
    margin-top: 0;
  }
  .deve-box p {
    font-size: 14px;
  }
  .prohome-list {
    margin-top: 40px;
  }
  .prohome-list li {
    max-width: 100%;
    min-width: 100%;
    height: 500px;
  }
  .prohome-list .bg {
    background: rgba(195, 182, 165, 0.3);
  }
  .prohome-list .bg,
  .prohome-list a {
    display: block;
  }
  .pro-title {
    margin-bottom: 40px;
    font-size: 20px;
    padding-left: 20px;
  }
  .head-bread {
    padding: 0 20px 28px;
  }
  .pro-nav {
    padding: 20px;
    margin: 40px 0 60px;
  }
  .pro-nav a {
    font-size: 14px;
    padding: 10px;
  }
  .product-list {
    padding: 0 20px;
  }
  .product-list li {
    max-width: 100%;
    min-width: 100%;
  }
  .product-list .img-box {
    height: 220px;
  }
  .product-list a {
    padding: 20px 10px;
    font-size: 14px;
  }
  .news-home {
    padding-top: 20px;
  }
  .news-home .swiper-container {
    margin-top: 40px;
  }
  .news-home .swiper-container .img-box {
    height: 240px;
  }
  .news-home .swiper-container h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .news-home .txt-box {
    height: 280px;
  }
  .news-home .swiper-container-horizontal > .swiper-pagination-bullets,
  .news-home .swiper-pagination-custom,
  .news-home .swiper-pagination-fraction {
    top: 200px;
  }
  .news-list {
    margin-top: 40px;
    padding: 0 20px;
  }
  .news-list li {
    max-width: 100%;
    min-width: 100%;
  }
  .news-list .img-box {
    height: 200px;
  }
  .news-list a {
    padding-bottom: 20px;
  }
  .news-list h4 {
    color: #ffffff;
    padding: 10px 20px 0;
    margin-bottom: 5px;
  }
  .news-list .time,
  .news-list p {
    color: #ffffff;
    padding-left: 20px;
  }
  .news-list p {
    margin-top: 5px;
  }
  .news-list .mask-p {
    display: block;
    height: 140px;
    background: rgba(195, 182, 165, 0.9);
  }
  .news-list .mask-p h4 {
    -webkit-line-clamp: 1;
  }
  .news-list .mask-p .time {
    display: block;
  }
  .rich-box {
    padding: 40px 20px;
  }
  .rich-box h2 {
    font-size: 26px;
    margin-top: 36px;
  }
  .rich-box p {
    font-size: 14px;
    margin-top: 36px;
    line-height: 30px;
  }
  .rich-box h4 {
    margin-top: 36px;
    font-size: 20px;
  }
  .rich-box img {
    margin-top: 36px;
  }
  .case-home .news-list h4,
  .case-home .news-list .time {
    color: #333333;
  }
  .case-home .news-list .time {
    font-size: 20px;
  }
  .case-home .news-list .bg {
    height: 200px;
  }
  .store-home .news-list h4 {
    color: #333333;
  }
  .store-home .news-list .txt {
    padding-bottom: 20px;
  }
  .store-home .news-list .address {
    margin: 12px 0;
  }
  .join-title h4 {
    font-size: 24px;
  }
  .join-title p {
    font-size: 16px;
  }
  .join-policy ul {
    padding-top: 40px;
  }
  .join-policy li {
    height: 120px;
    margin-bottom: 20px;
  }
  .join-policy p {
    line-height: 120px;
  }
  .advan-list {
    margin-bottom: 60px;
  }
  .advan-list li {
    margin-bottom: 60px;
  }
  .advan-list .img-box {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .advan-list h4 {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .advan-list h5 {
    font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
  .advan-list p {
    font-size: 12px;
    line-height: 26px;
  }
  .advan-list .limask {
    height: 200px;
    top: -30px;
  }
  .join-form {
    margin-top: -60px;
    padding-bottom: 60px;
  }
  .join-form .title-box {
    margin-bottom: 40px;
  }
  .join-form .input-box {
    margin-bottom: 30px;
  }
  .join-form .input-box span {
    font-size: 14px;
    margin-right: 14px;
  }
  .join-form .input-box input {
    width: calc(100% - 94px);
    height: 40px;
  }
  .join-form a {
    height: 40px;
    line-height: 40px;
  }
}
